
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Regular.ttf') format('truetype');
  font-weight: normal; /* This is typically 400 */
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: bold; /* This is typically 700 */
}

body {
  height:100%;
  margin: 0;
  background-color: #f4f6f6;
  font-family: 'Pixelify Sans', sans-serif;
}




.nav {
  background-color: rgb(248, 234, 254);
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
}


.nav-link {
  color: #bebebe;
  letter-spacing: .25px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 500px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: 400;
  line-height: 20px;
  transition: opacity .2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  width: 100px;
  text-align: center;
  color:rgb(172, 157, 176);
}

.nav-link {
  padding: 5px 5px;
  display: inline-block;
}

.nav-link a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.nav-link:hover {
  background-color:rgba(0, 0, 0, 0)
}

.nav-link.active {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px inset;
}

.nav-link.active.home {
  color: #89a4a9;
  background-color: #dcf0f2;
}

.nav-link.active.about {
  background-color: rgb(242, 187, 227);
  color: rgb(188, 130, 177);
}

.nav-link.active.experience {
  color: #7bc187;
  background-color: #a5e5af;
}

.nav-link.active.projects {
  color: #a5aee8;
  background-color: #d0d6fc;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100%;
  width: 100%;
  text-align: center;
  color: #bebebe;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s;
  display: block;
  margin: 20px;
  margin-bottom: 20px;
}

.glassmorphism-effect .vertical-timeline-element-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px 0 rgba(31, 38, 135, 0.37);

}

.glassmorphism-effect .content-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px 0 rgba(31, 38, 135, 0.37);
  align-self: center;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
}

.vertical-timeline-element-content-arrow {
  opacity: 0%
}

p,
.vertical-timeline-element-title,
.vertical-timeline-element-date,
.vertical-timeline-element-subtitle {
  color: #d4c7ec;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #d4c7ec; }
}

.typewriter {
  overflow: hidden;
  border-right: .10em solid #d4c7ec; /* Caret */
  white-space: nowrap;
  animation: blink-caret .75s step-end infinite;
}

.thumbs-wrapper.axis-vertical {
  display: none;
}

.carousel-root {
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.parallax-container {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-inner {
  transform-style: preserve-3d;
  height: 500vh;
}

.section {
  height: 100vh;       /* Takes up the full viewport height */
  width: 100vw;        /* Takes up the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section img {
  width: 500px; /* adjust as needed */
  height: 500px;
  margin-right: 20px; /* space between image and the box */
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
