* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:#f4f6f6;
  font-family: 'Arial';
}

.container {
  margin: 1rem;
  text-align: center;
  color: #bebebe;
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  padding: 1rem;
}

.nav-link {
  color: #bebebe;
  letter-spacing: .25px;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 500px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-weight: 400;
  line-height: 20px;
  transition: opacity .2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  background-color:rgba(0, 0, 0, 0)
}

.nav-link.active{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px 0px inset;
}

/* Active button styles for the Home page */
.nav-link.active.about {
  background-color: rgb(242, 187, 227);
  color: rgb(188, 130, 177);
}

/* Active button styles for the Skills page */
.nav-link.active.skills {
  color: #89a4a9;
  background-color: #dcf0f2;
}

/* Active button styles for the Education page */
.nav-link.active.education {
  color: #7bc187;
  background-color: #a5e5af;
}

/* Active button styles for the Experience page */
.nav-link.active.experience {
  color: #c3c59b;
  background-color: #f0f2bd;
}

/* Active button styles for the Projects page */
.nav-link.active.projects {
  color: #a5aee8;
  background-color: #d0d6fc;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  width: 100%;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 0.5s;
  display: block;
  margin: 20px;
  margin-bottom: 20px;
}

.glassmorphism-effect .vertical-timeline-element-content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 6px 0 rgba(31, 38, 135, 0.37);
}

.vertical-timeline-element-content-arrow {
  opacity: 0%
}

p,
.vertical-timeline-element-title,
.vertical-timeline-element-date,
.vertical-timeline-element-subtitle {
  color: #d4c7ec;
  font-family: 'Arial';
}

